[Unit]
Description=Bind systemd targets to NetworkManager states

[Service]
ExecStart=/usr/bin/systemd-network-manager --user

[Install]
WantedBy=default.target
