[Unit]
Description=Bind systemd targets to network states
After=systemd-networkd.service

[Service]
Restart=always
ExecStart=/usr/bin/systemd-network-manager

[Install]
WantedBy=systemd-networkd.service
