[Unit]
Description="Manages the online, offline, and captive-portal targets based on the current NetworkManager state."
PartOf=NetworkManager.service
Requisite=NetworkManager.service
After=NetworkManager.service

[Service]
ExecStart=/usr/bin/systemd-network-manager --user

[Install]
WantedBy=NetworkManager.service
