[Unit]
Description=Bind systemd targets to NetworkManager states
PartOf=NetworkManager.service
Requisite=NetworkManager.service
After=NetworkManager.service

[Service]
Restart=always
ExecStart=/usr/bin/systemd-network-manager --user

[Install]
WantedBy=NetworkManager.service
